html, body {
    box-sizing: border-box;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

header nav {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 0;
    position: relative;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;

}
.menu-container,
.home-container {
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 66px 20px;
    position: relative;
    height: 80vh;
    border-radius: 10px;
}

nav button {
    height: 50px;
    aspect-ratio: 1/0.4;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: auto;
    margin: 0px;
    box-sizing: border-box;
    font-size: inherit;
    color: inherit;
    appearance: none;
    text-decoration: none;
    font-weight: 788;
    font-style: italic;
    transition: transform 0.1s linear;
    transform: scale(1);
}

nav button:hover {
    transition: transform 0.5s ease-in-out;
    transform: translate(-2px, -2px) scale(1.07);
    transform-origin: bottom;
    background-color: rgb(228, 228, 228);
}
nav button:active {
    transition: transform 0.1s linear;
    transform: translate(1px,1px) scale(0.98);
}
nav button.selected {
    color: rgb(65, 65, 222);
    border-bottom: solid 2px rgb(182, 182, 182);
}

.bg-content {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.bg-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* 背景图配置（缩小平铺、重复*/
    background-image: url('../images/homepageImg.png');
    background-size: 80px;
    background-repeat: repeat;
    
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay; /* 让背景色和背景图混合，实现变暗 */
    
    
    z-index: 1; /* 背景层层级：低于内容层 */
}

.content {
    color: aliceblue;
    margin: 20px 100px;
    position: relative;
    z-index: 2;
}
.dish-item {
    display: flex;
    gap: 35px;
    padding: 0px 10px;
    align-items: center;
    transition: transform 0.1s ease-in-out;
}
.dish-item:hover {
    transform: translate(-2px, -2px);
    border-radius: 10px;
    background-color: rgba(125, 125, 125, 0.3);
    border-bottom: solid 5px white;
    border-right: solid 5px white;
}
.contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.info-container {
    border: solid 10px orange;
    box-sizing: border-box;
    color: yellow;
    background-color: red;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 
        1px 8px 12px rgba(0, 0, 0, 0.6),
        -1px -8px 12px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
}
.info-container:hover {
    transform: scale(1.05);
    box-shadow: 1px 8px 12px rgba(255, 255, 255, 0.5),
        -1px -8px 12px rgba(255, 255, 255, 0.5);
}

.hidden-desc {
    font-size: 0.6rem;
    font-weight: 200;
}
.menu-header {
    margin: 0px;
    color: red;
    padding: 5px 15px;
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
}
* {
    user-select: none;
}